---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Analista Funcional",
    company: "GS1 Argentina",
    description:
      "Especializado en traducir necesidades del usuario en especificaciones técnicas y realizar pruebas detalladas para asegurar la calidad del desarrollo. Documentación precisa y colaboración efectiva con equipos de sistemas.",
    link: "https://www.linkedin.com/in/julian-agustin-espinoza/",
  },
  {
    date: "Junio 2021",
    title: "Auditor OSA",
    company: "GS1 Argentina",
    description:
      "Relevamiento de datos OnSite para diferentes cadenas del rubro Retail, con enfoque en el analisis de datos, comunicación y coordinación de equipo de trabajo",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
